<div id="agenda" class="ptb">
  <div class="container centered">
    <div class="row">
      <h2 class="centered mb">AGENDA</h2>
      <hr>
      <div>
        <dl class="dl-horizontal">
          <dt>RECAP</dt>
          <dd>Breakdown of the last six months. Projects, conferences, etc.</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>WINS</dt>
          <dd>Three, high-level successes I have achieved since December</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>CHALLENGES</dt>
          <dd>Three, high-level issues I have faced since December</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>GROWTH</dt>
          <dd>How I have grown as a developer, consultant, and a person</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>#STACEYTIME</dt>
          <dd>My wonderful coach will give a summary of my performance</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>FEEDBACK</dt>
          <dd>Together, we will discuss the feedback I have received</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>SELF ASSESSMENT</dt>
          <dd>A recap of how I feel about the past six months</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>LOOKING AHEAD</dt>
          <dd>Goals and plans for ending 2016 with a bang!</dd>
        </dl>
      </div>
    </div><!--/row-->
  </div><!-- /.container -->
</div>