<!--WINS-->
<div id="challenges">
  <div class="centered ptb">
    <h1>CHALLENGES</h1>
  </div>
</div>
<div class= "centered">
  <div class="row ptb" id="jttw-grey-background">
      <h2>Challenge 1</h2>
      <h1>Project burnout</h1>
    </div>

  <div class="row ptb" id="azure-background">
    <h2>Challenge 2</h2>
    <h1>Pairing Approach</h1>
    </div>

  <div class="row ptb" id="cornflower-blue-background">
      <h2>Challenge 3</h2>
      <h1>Input in frustrating situations</h1>
    </div>
</div>