<!--WINS-->
<div id="challenges">
  <div class="container centered ptb">
    <h1>CHALLENGES</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <h2>Challenge 1</h2>
    </div>
    <div class="col-sm-9">
      <h1>Project burnout</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9">
      <h1>Pairing Approach</h1>
    </div>
    <div class="col-sm-3">
      <h2>Challenge 2</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <h2>Challenge 3</h2>
    </div>
    <div class="col-sm-9">
      <h1>Input in frustrating situations</h1>
    </div>
  </div>





</div>