<div id="feedback">
  <div class="full-screen-background-image">
    <div class="header-body">
      <div class="container centered">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <p>
            <h1><b>feedback discussion</b></h1>
            <h2>with Michelle Reidy</h2>
            </p>
          </div>
        </div><!--/row-->
      </div><!--/container-->
    </div>
  </div>
</div>