<div id="growth-intro">
  <div class="full-screen-background-image">
    <div class="header-body">
      <div class="container centered">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <p>
            <h1><b>Let's talk about growth</b></h1>
            </p>
            <a href="#growth" class="btn btn-circle page-scroll">
              <i class="fa fa-angle-double-down animated white-text"></i>
            </a>
          </div>
        </div><!--/row-->
      </div><!--/container-->
    </div>
  </div>
</div>

<div id="growth">
  <div class="container">
    <div class="row ptb">
      <h2>As a developer</h2>
      <ul>
        <li>Stronger on addressing issues with legacy code</li>
        <li>Better at identifying structural problems (now that I have experience in legacy code bases)</li>
        <li>Experience with creating clean test suite and local testing environment using Tomcat, Docker, and Vagrant</li>
        <li>More comfort with DevOps type tasks (Jenkins pipeline, Tomcat, Docker, and Vagrant)</li>
        <li>Better understanding of back end systems</li>
      </ul>
    </div>
    <div class="row ptb">
      <h2>As a consultant</h2>
      <ul>
        <li>Comfort pairing with client devs, BAs, QAs, and even POs</li>
        <li>Importance of patience in tense situations</li>
        <li>Transparent v. Open Book</li>
      </ul>
    </div>
    <div class="row ptb">
      <h2>As a person</h2>
      <ul>
        <li>Making use of almost all the hours in every day is important</li>
        <li>Getting out and seeing the people is so necessary!</li>
        <li>Agile lifestyle might be the key to success when it comes to achieving a work-life balance</li>
      </ul>
    </div>
  </div>
</div>