<!--HEADER-->
<div class="header-section">
  <div class="header-body">
    <div class="container centered">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <p>
          <h1><b>joye to the world</b></h1>
          <h2>one year review</h2>
          <h3>june. ninth. twenty-sixteen.</h3>
          </p>
          <a href="#agenda" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down animated white-text"></i>
          </a>
        </div>
      </div><!--/row-->
    </div><!--/container-->
  </div>
</div>