<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation" xmlns="http://www.w3.org/1999/html">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main-collapse">
        <i class="fa fa-bars white-text"></i>
      </button>
      <a class="navbar-brand smoothScroll" href="#page-top">
        <span class="light">JOYE'S</span> 12 MONTH REVIEW
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-main-collapse">
      <ul class="nav navbar-nav navbar-right centered">
        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li>
          <a class="smoothScroll" href="#wins">Wins</a>
        </li>
        <li>
          <a class="smoothScroll" href="#challenges">Challenges</a>
        </li>
        <li>
          <a class="smoothScroll" href="#growth">Growth</a>
        </li>
        <li>
          <a class="smoothScroll" href="#stacey">Stacey</a>
        </li>
        <li>
          <a class="smoothScroll" href="#feedback">Feedback</a>
        </li>
        <li>
          <a class="smoothScroll" href="#self-assessment">Self-Assessment</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>