<div id="self-assessment">
  <div class="container ptb centered">
      <!--THREE COLUMNS HERE WITH GLYPHS OF PILLARS BEFORE EVERY BREAKDOWN-->
      <div class="row">
        <h2>Self-Assessment</h2>
        <div class="col-md-4">
          <dl>
            <%= image_tag('pillar-one.png', :class => 'img-responsive' )%>
            <strong>Returning the investment to TW.</strong>
            <p>From practically three months of training post-billable (TW 101, TWU, and ACIT),
              five all expense-paid conferences, and the time and dedication given to me through
              my coaches and the AC program, I feel as though I have definitely been heavily
              invested in by ThoughtWorks. However, now that I am beginning to realize my skills
              and adapt to change quickly, I feel I am returning the investment to the company
              and be able to make meaningful contributions.</p>
        </div>
        <div class="col-md-4">
          <%= image_tag('pillar-two.png', :class => 'img-responsive' )%>
          <strong>New level technically.</strong>
            <p>Throughout my last nine months working on a legacy, back-end system, I have reached a
            higher level with my Java skills, in particular using the Spring MVC framework,
            identifying areas in need of refactoring, and different techniques for writing integration
            test suites. I am more comfortable with back-end systems using camel messaging and SQL
            databases. Working on Jenkins pipelines, Vagrant boxes and Docker configuration has made me
            less afraid of the wonderful world of dev ops. Lastly, my experience outside the client
            has strengthened my confidence that I am able to quickly understand concepts in new
            languages and tooling.</p>
          </div>
        <div class="col-md-4">
          <%= image_tag('pillar-three.png', :class => 'img-responsive' )%>
          <strong>Finding balance between spreading influence and developing my skills.</strong>
            <p>Working on an enablement project and attending seven conferences in the past seven
            months, there has been an interesting dynamic between teaching and learning in my
            day-to-day activities. Realizing I spent my first six months at ThoughtWorks really
            focusing on absorbing as much information as I can for my personal development, I
            attempted to divide my efforts equally between not only learning for myself, but also,
            sharing what I have learned with the public through giving talks and helping others.</p>
        </div>
        </div>
    </div><!--/row-->
  </div><!--/.container-->
</div>