<div id="self-assessment">
  <div class="container ptb centered">
    <div class="row">
      <h1>Self-Assessment</h1>
      <div class="col-md-4">
        <dl>
          <%= image_tag('pillar-one.png', :class => 'img-responsive') %>
          <h3><strong>Returning the investment to TW.</strong></h3>
          <p>From practically three months of training post-billable (TW 101, TWU, and ACIT),
            five all expense-paid conferences, and the time and dedication given to me through
            my coaches and the AC program, I feel as though I have definitely been heavily
            invested in by ThoughtWorks. However, now that I am beginning to realize my skills
            and adapt to change quickly, I feel I am returning the investment to the company
            and be able to make meaningful contributions.</p>
      </div>
      <div class="col-md-4">
        <%= image_tag('pillar-two.png', :class => 'img-responsive') %>
        <h3><strong>New level technically.</strong></h3>
        <p>Throughout my last nine months working on a legacy, back-end system, I have reached a
          higher level with my Java skills, in particular using the Spring MVC framework,
          identifying areas in need of refactoring, and different techniques for writing integration
          test suites. I am more comfortable with back-end systems using camel messaging and SQL
          databases. Working on Jenkins pipelines, Vagrant boxes and Docker configuration has made me
          less afraid of the wonderful world of dev ops. Lastly, my experience outside the client
          has strengthened my confidence that I am able to quickly understand concepts in new
          languages and tooling.</p>
      </div>
      <div class="col-md-4">
        <%= image_tag('pillar-three.png', :class => 'img-responsive') %>
        <h3><strong>Finding balance between spreading influence and developing my skills.</strong></h3>
        <p>Working on an enablement project and attending seven conferences in the past seven
          months, there has been an interesting dynamic between teaching and learning in my
          day-to-day activities. Realizing I spent my first six months at ThoughtWorks really
          focusing on absorbing as much information as I can for my personal development, I
          attempted to divide my efforts equally between not only learning for myself, but also,
          sharing what I have learned with the public through giving talks and helping others.</p>
      </div>
    </div>
  </div><!--/row-->

  <div class="row">
    <div class="container ptb centered">
      <h1>Goals</h1>

      <h2 class="left-aligned mtb">RECAP</h2>
      <table class="table">
        <thead>
        <tr>
          <th>Pillar</th>
          <th>Goal</th>
          <th>Status</th>
        </tr>
        </thead>
        <tbody class="left-aligned">
        <tr>
          <th scope="row">1</th>
          <td>Refer at least three potential ACs</td>
          <td>Referred 2 of 3!</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Participate in 3 TW ATL events</td>
          <td>3 of 3 events!</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Read <i>Clean Code</i></td>
          <td>Started, but not complete.</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Develop 2 Rails websites.</td>
          <td>2 down, 1 in progress!</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Read <i>The New Jim Crow</i></td>
          <td>Started, but not complete.</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Present 2 talks at conferences.</td>
          <td>Gave 4 presentations!</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

<div class="row">
    <div class="container ptb ">

      <h2 class="left-aligned mtb">NEXT</h2>

      <h3>PILLAR ONE</h3>
        <ul>
          <li>In order to continue to help TW Atlanta "revamp the office energy",
            I will volunteer and participate at least three events.</li>
          <li>
            To help build the AC program, I will refer two quality candidates to
            the program over the next six months.
          </li>
        </ul>
      <h3>PILLAR TWO</h3>
        <ul>
          <li>
            In order to continue my focus on learning how to build quality websites,
            I will create a Rails app with a complete testing suite and Heroku pipeline.
          </li>
          <li>
            Because I have actual started developing websites, I will begin to read
            <i>JavaScript: The Good Parts</i>.
          </li>
        </ul>
      <h3>PILLAR THREE</h3>
        <ul>
          <li>
            In order to help individuals build their technical presences, I will
            volunteer to build websites for two companies/individuals over the next
            six months.
          </li>
          <li>
            In order to help others understand the importance of technology who may not
            have access to a formal education or training in the field, I will put together
            at least one targeted curriculum about object oriented programming with resources
            individuals can access to practice and learn Java or Rails.
          </li>
        </ul>


    </div>
  </div>

</div><!--/.container-->
</div>