<div id="timeline">
  <h2 class="centered">TIMELINE</h2>
  <div class="container">
  <section id="cd-timeline" class="cd-container">

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-green">
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>Auto Auction Client: Pt 1</h2>
        <p>Atlanta, GA</p>
        <span class="cd-date">September 2015 - June 2016</span>
      </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-red">
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>Winter AC Conference</h2>
        <p>Chicago, IL. Presented lightening talk on our integration test suite.</p>
        <span class="cd-date">Jan 29 - 30, 2016</span>
      </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-darkpurple">
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>Upward Bound College Experience Panel</h2>
        <p><a href="http://www.sc.edu/trio/UB.html"  target="_blank">Columbia, SC.</a></p>
        <span class="cd-date">February 6, 2016</span>
      </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-yellow">
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>Carolina Women In Computing</h2>
        <p><a href="http://www.carolinaswic.org/"  target="_blank">Myrtle Beach, SC.</a> Presented <i>1,000 Down, 9,000 More</i>.</p>
        <span class="cd-date">Feb 19 - 20, 2016</span>
      </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-purple">
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>AC Hiring Open House</h2>
        <p>Atlanta, GA.</p>
        <span class="cd-date">Feb 25, 2016</span>
      </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-blue">
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>10th Annual Computer Science Alumni Symposium</h2>
        <p><a href="https://www.youtube.com/watch?v=yZCLkiZpYXc" target="_blank">College of Charleston.</a> Charleston, SC.</p>
        <span class="cd-date">March 18, 2016</span>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-pink">
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>NSBE</h2>
        <p><a href="http://www.nsbe.org/Convention/2016/Home.aspx" target="_blank">Boston, MA.</a></p>
        <span class="cd-date">March 24 - 26, 2016</span>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-orange">
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>Joye to the World Release</h2>
        <p>Released my site, <a href="http://www.joyetotheworld.com" target="_blank">JoyeToTheWorld.com</a></p>
        <span class="cd-date">April 4, 2016</span>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-navy">
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>Young Futurists Release</h2>
        <p>Featured as one of the 25 Class of 2016 Young Futurists on <a href="http://www.theroot.com/articles/lists/2016/04/stars_of_tomorrow_the_root_s_2016_young_futurists/" target="_blank"> TheRoot.com</a></p>
        <span class="cd-date">April 12, 2016</span>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-neonpink">
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>Spring AC Conference</h2>
        <p>Chicago, IL.</p>
        <span class="cd-date">April 21 - 23, 2016</span>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-violet">
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>Home Office Day</h2>
        <p>Atlanta, GA. Put together agenda and hosted successful event in the ATL office.</p>
        <span class="cd-date">May 13, 2016</span>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-olive">
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>O'Reilly OSCON</h2>
        <p><a href="http://conferences.oreilly.com/oscon/open-source-us" target="_blank">Austin, TX</a>.</p>
        <span class="cd-date">May 18 - 19, 2016</span>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-brown">
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>Women in Technology Connect Event</h2>
        <p><a href="http://www.mywit.org/wit-participate/wit-connect/" target="_blank">Atlanta, GA.</a></p>
        <span class="cd-date">June 2, 2016</span>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-green">
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>Auto Auction Client: Pt 2</h2>
        <p>Atlanta, GA</p>
        <span class="cd-date">June 2016 - July 2016</span>
      </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->
  </section> <!-- cd-timeline -->
</div>
  </div>