<div class="center-parent">
<div class="center-body">
  <%= image_tag('globe', :class => 'coming-soon-image') %>
  <br>
  <h1 class="coming-soon-text">Joye to the World</h1>
  <br>
  <!--<a href="https://docs.google.com/presentation/d/1Bm8PUUKtpWuTtIbFGygknkrSTctPwbHpykgmyTHwrzA/edit?usp=sharing" target="_blank">six</a>-->
  <%= button_to 'twelve', twelve_path, :method => :get, :class => '' %>
  <%= button_to 'eighteen', eighteen_path, :method => :get, :class => '' %>
</div>
</div>

