<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation" xmlns="http://www.w3.org/1999/html">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main-collapse">
        <i class="fa fa-bars white-text"></i>
      </button>
      <a class="navbar-brand smoothScroll" href="#page-top">
        <span class="light">JOYE'S</span> 12 MONTH REVIEW
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-main-collapse">
      <ul class="nav navbar-nav navbar-right centered">
        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li>
          <a class="smoothScroll" href="#timeline">Timeline</a>
        </li>
        <li>
          <a class="smoothScroll" href="#wins">Wins</a>
        </li>
        <li>
          <a class="smoothScroll" href="#challenges">Challenges</a>
        </li>
        <li>
          <a class="smoothScroll" href="#growth">Growth</a>
        </li>
        <li>
          <a class="smoothScroll" href="#Stacey">Stacey</a>
        </li>
        <li>
          <a class="smoothScroll" href="#feedback">Feedback</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<!--HEADER-->
<div class="header-section">
  <div class="header-body">
    <div class="container centered">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <p>
          <h1><b>joye to the world</b></h1>
          <h2>one year review</h2>
          <h3>june. ninth. twenty-sixteen.</h3>
          </p>
          <a href="#agenda" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down animated white-text"></i>
          </a>
        </div>
      </div><!--/row-->
    </div><!--/container-->
  </div>
</div><!--H-->

<!--AGENDA-->
<div id="agenda">
  <div class="container ptb centered">
    <div class="row">
      <h2 class="centered mb">AGENDA</h2>
      <hr>
      <div>
        <dl class="dl-horizontal">
          <dt>RECAP</dt>
          <dd>Breakdown of the last six months. Projects, conferences, etc.</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>WINS</dt>
          <dd>Three, high-level successes I have achieved since December</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>CHALLENGES</dt>
          <dd>Three, high-level issues I have faced since December</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>GROWTH</dt>
          <dd>How I have grown as a developer, consultant, and a person</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>#STACEYTIME</dt>
          <dd>My wonderful coach will give a summary of my performance</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>FEEDBACK</dt>
          <dd>Together, we will discuss the feedback I have received</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>SELF ASSESSMENT</dt>
          <dd>A recap of how I feel about the past six months</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>LOOKING AHEAD</dt>
          <dd>Goals and plans for ending 2016 with a bang!</dd>
        </dl>
      </div>
    </div><!--/row-->
  </div><!-- /.container -->
</div>

<!--TIMELINE-->
<div id="timeline">
  <h2 class="centered">TIMELINE</h2>
  <section id="cd-timeline" class="cd-container">

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-picture">
        <img src="img/cd-icon-picture.svg" alt="Picture">
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>Manheim</h2>
        <p>Atlanta, GA</p>
        <span class="cd-date">September 2015 - July 2016</span>
      </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-movie">
        <img src="img/cd-icon-movie.svg" alt="Movie">
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>Winter AC Conference</h2>
        <p>Chicago, IL. Presented lightening talk on our integration test suite.</p>
        <span class="cd-date">Jan 29 - 30, 2016</span>
      </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-picture">
        <img src="img/cd-icon-picture.svg" alt="Picture">
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>Upward Bound College Experience Panel</h2>
        <p>Columbia, SC.</p>
        <span class="cd-date">February 6, 2016</span>
      </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-location">
        <img src="img/cd-icon-location.svg" alt="Location">
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>Carolina Women In Computing</h2>
        <p>Myrtle Beach, SC. Presented <i>1,000 Down, 9,000 More</i>.</p>
        <span class="cd-date">Feb 19 - 20, 2016</span>
      </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-location">
        <img src="img/cd-icon-location.svg" alt="Location">
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>AC Hiring Open House</h2>
        <p>Atlanta, GA.</p>
        <span class="cd-date">Feb 25, 2016</span>
      </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-movie">
        <img src="img/cd-icon-movie.svg" alt="Movie">
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>10th Annual Computer Science Alumni Symposium</h2>
        <p>College of Charleston. Charleston, SC.</p>
        <span class="cd-date">March 18, 2016</span>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-movie">
        <img src="img/cd-icon-movie.svg" alt="Movie">
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>NSBE</h2>
        <p>Boston, MA.</p>
        <span class="cd-date">March 24 - 26, 2016</span>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-movie">
        <img src="img/cd-icon-movie.svg" alt="Movie">
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>Joye to the World Release</h2>
        <p>Released my site, JoyeToTheWorld.com</p>
        <span class="cd-date">April 4, 2016</span>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-movie">
        <img src="img/cd-icon-movie.svg" alt="Movie">
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>Young Futurists Release</h2>
        <p>Featured as one of the 25 Class of 2016 Young Futurists on TheRoot.com</p>
        <span class="cd-date">April 12, 2016</span>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-movie">
        <img src="img/cd-icon-movie.svg" alt="Movie">
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>Spring AC Conference</h2>
        <p>Chicago, IL.</p>
        <span class="cd-date">April 21 - 23, 2016</span>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-movie">
        <img src="img/cd-icon-movie.svg" alt="Movie">
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>Home Office Day</h2>
        <p>Atlanta, GA. Put together agenda and hosted successful event in the ATL office.</p>
        <span class="cd-date">May 13, 2016</span>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-movie">
        <img src="img/cd-icon-movie.svg" alt="Movie">
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>OSCON</h2>
        <p>Austin, TX.</p>
        <span class="cd-date">May 18 - 19, 2016</span>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-movie">
        <img src="img/cd-icon-movie.svg" alt="Movie">
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>Women in Technology Connect Event</h2>
        <p>Atlanta, GA.</p>
        <span class="cd-date">June 2, 2016</span>
      </div>
    </div>
  </section> <!-- cd-timeline -->
</div>

<!--WINS-->
<div id="wins">
  <div class="container centered ptb">
    <h1>WINS</h1>
  </div>
</div>

<div class="row" id="win-1">
  <div class="col-md-4 ptb" id="gold-background">
    <h2>Win One</h2>
  </div>
  <div class="col-md-8">
    <h1>Effective Team Member.</h1>
  </div>
</div>

<div id="g">
  <div class="container">
    <div class="row centered">
      <h2>Check some of my latest works.</h2>
      <div class="col-md-8 col-md-offset-2">
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text.<br/>It has roots in a piece of classical
          Latin literature<br/>from 45 BC, making it over 2000 years old.</p>

      </div><!--/col-md-8-->
    </div><!--/row-->
  </div><!--/.container-->
  <div class="portfolio-centered mt">
    <div class="recentitems portfolio">

      <div class="portfolio-item graphic-design">
        <div class="he-wrap tpl6">
          <img src="assets/img/portfolio/portfolio_09.jpg" class="img-responsive" alt="">
          <div class="he-view">
            <div class="bg a0" data-animate="fadeIn">
              <h3 class="a1" data-animate="fadeInDown">A Graphic Design Item</h3>
              <a data-rel="prettyPhoto" href="assets/img/portfolio/portfolio_09.jpg" class="dmbutton a2" data-animate="fadeInUp"><i class="ion-search"></i></a>
              <a href="single-project.html" class="dmbutton a2" data-animate="fadeInUp"><i class="ion-link"></i></a>
            </div><!-- he bg -->
          </div><!-- he view -->
        </div><!-- he wrap -->
      </div><!-- end col-12 -->

      <div class="portfolio-item web-design">
        <div class="he-wrap tpl6">
          <img src="assets/img/portfolio/portfolio_02.jpg" class="img-responsive" alt="">
          <div class="he-view">
            <div class="bg a0" data-animate="fadeIn">
              <h3 class="a1" data-animate="fadeInDown">A Web Design Item</h3>
              <a data-rel="prettyPhoto" href="assets/img/portfolio/portfolio_02.jpg" class="dmbutton a2" data-animate="fadeInUp"><i class="ion-search"></i></a>
              <a href="single-project.html" class="dmbutton a2" data-animate="fadeInUp"><i class="ion-link"></i></a>
            </div><!-- he bg -->
          </div><!-- he view -->
        </div><!-- he wrap -->
      </div><!-- end col-12 -->

      <div class="portfolio-item graphic-design">
        <div class="he-wrap tpl6">
          <img src="assets/img/portfolio/portfolio_03.jpg" class="img-responsive" alt="">
          <div class="he-view">
            <div class="bg a0" data-animate="fadeIn">
              <h3 class="a1" data-animate="fadeInDown">A Graphic Design Item</h3>
              <a data-rel="prettyPhoto" href="assets/img/portfolio/portfolio_03.jpg" class="dmbutton a2" data-animate="fadeInUp"><i class="ion-search"></i></a>
              <a href="single-project.html" class="dmbutton a2" data-animate="fadeInUp"><i class="ion-link"></i></a>
            </div><!-- he bg -->
          </div><!-- he view -->
        </div><!-- he wrap -->
      </div><!-- end col-12 -->

      <div class="portfolio-item graphic-design">
        <div class="he-wrap tpl6">
          <img src="assets/img/portfolio/portfolio_04.jpg" class="img-responsive" alt="">
          <div class="he-view">
            <div class="bg a0" data-animate="fadeIn">
              <h3 class="a1" data-animate="fadeInDown">A Graphic Design Item</h3>
              <a data-rel="prettyPhoto" href="assets/img/portfolio/portfolio_04.jpg" class="dmbutton a2" data-animate="fadeInUp"><i class="ion-search"></i></a>
              <a href="single-project.html" class="dmbutton a2" data-animate="fadeInUp"><i class="ion-link"></i></a>
            </div><!-- he bg -->
          </div><!-- he view -->
        </div><!-- he wrap -->
      </div><!-- end col-12 -->

      <div class="portfolio-item books">
        <div class="he-wrap tpl6">
          <img src="assets/img/portfolio/portfolio_05.jpg" class="img-responsive" alt="">
          <div class="he-view">
            <div class="bg a0" data-animate="fadeIn">
              <h3 class="a1" data-animate="fadeInDown">A Book Design Item</h3>
              <a data-rel="prettyPhoto" href="assets/img/portfolio/portfolio_05.jpg" class="dmbutton a2" data-animate="fadeInUp"><i class="ion-search"></i></a>
              <a href="single-project.html" class="dmbutton a2" data-animate="fadeInUp"><i class="ion-link"></i></a>
            </div><!-- he bg -->
          </div><!-- he view -->
        </div><!-- he wrap -->
      </div><!-- end col-12 -->

      <div class="portfolio-item graphic-design">
        <div class="he-wrap tpl6">
          <img src="assets/img/portfolio/portfolio_06.jpg" class="img-responsive" alt="">
          <div class="he-view">
            <div class="bg a0" data-animate="fadeIn">
              <h3 class="a1" data-animate="fadeInDown">A Graphic Design Item</h3>
              <a data-rel="prettyPhoto" href="assets/img/portfolio/portfolio_06.jpg" class="dmbutton a2" data-animate="fadeInUp"><i class="ion-search"></i></a>
              <a href="single-project.html" class="dmbutton a2" data-animate="fadeInUp"><i class="ion-link"></i></a>
            </div><!-- he bg -->
          </div><!-- he view -->
        </div><!-- he wrap -->
      </div><!-- end col-12 -->

      <div class="portfolio-item web-design">
        <div class="he-wrap tpl6">
          <img src="assets/img/portfolio/portfolio_07.jpg" class="img-responsive" alt="">
          <div class="he-view">
            <div class="bg a0" data-animate="fadeIn">
              <h3 class="a1" data-animate="fadeInDown">A Web Design Item</h3>
              <a data-rel="prettyPhoto" href="assets/img/portfolio/portfolio_07.jpg" class="dmbutton a2" data-animate="fadeInUp"><i class="ion-search"></i></a>
              <a href="single-project.html" class="dmbutton a2" data-animate="fadeInUp"><i class="ion-link"></i></a>
            </div><!-- he bg -->
          </div><!-- he view -->
        </div><!-- he wrap -->
      </div><!-- end col-12 -->

      <div class="portfolio-item graphic-design">
        <div class="he-wrap tpl6">
          <img src="assets/img/portfolio/portfolio_08.jpg" class="img-responsive" alt="">
          <div class="he-view">
            <div class="bg a0" data-animate="fadeIn">
              <h3 class="a1" data-animate="fadeInDown">A Graphic Design Item</h3>
              <a data-rel="prettyPhoto" href="assets/img/portfolio/portfolio_08.jpg" class="dmbutton a2" data-animate="fadeInUp"><i class="ion-search"></i></a>
              <a href="single-project.html" class="dmbutton a2" data-animate="fadeInUp"><i class="ion-link"></i></a>
            </div><!-- he bg -->
          </div><!-- he view -->
        </div><!-- he wrap -->
      </div><!-- end col-12 -->

      <div class="portfolio-item graphic-design">
        <div class="he-wrap tpl6">
          <img src="assets/img/portfolio/portfolio_01.jpg" class="img-responsive" alt="">
          <div class="he-view">
            <div class="bg a0" data-animate="fadeIn">
              <h3 class="a1" data-animate="fadeInDown">A Graphic Design Item</h3>
              <a data-rel="prettyPhoto" href="assets/img/portfolio/portfolio_01.jpg" class="dmbutton a2" data-animate="fadeInUp"><i class="ion-search"></i></a>
              <a href="single-project.html" class="dmbutton a2" data-animate="fadeInUp"><i class="ion-link"></i></a>
            </div><!-- he bg -->
          </div><!-- he view -->
        </div><!-- he wrap -->
      </div><!-- end col-12 -->

      <div class="portfolio-item books">
        <div class="he-wrap tpl6">
          <img src="assets/img/portfolio/portfolio_10.jpg" class="img-responsive" alt="">
          <div class="he-view">
            <div class="bg a0" data-animate="fadeIn">
              <h3 class="a1" data-animate="fadeInDown">A Book Design Item</h3>
              <a data-rel="prettyPhoto" href="assets/img/portfolio/portfolio_10.jpg" class="dmbutton a2" data-animate="fadeInUp"><i class="ion-search"></i></a>
              <a href="single-project.html" class="dmbutton a2" data-animate="fadeInUp"><i class="ion-link"></i></a>
            </div><!-- he bg -->
          </div><!-- he view -->
        </div><!-- he wrap -->
      </div><!-- end col-12 -->
    </div><!-- portfolio -->
  </div><!-- portfolio container -->

  <div class="container mt">
    <div class="row clients centered">
      <p class="mb">Some clients that I had the pleasure to working for.</p>
      <div class="col-sm-2 col-sm-offset-1">
        <img src="assets/img/client1.png" alt="">
      </div>
      <div class="col-sm-2">
        <img src="assets/img/client3.png" alt="">
      </div>
      <div class="col-sm-2">
        <img src="assets/img/client2.png" alt="">
      </div>
      <div class="col-sm-2">
        <img src="assets/img/client4.png" alt="">
      </div>
      <div class="col-sm-2">
        <img src="assets/img/client5.png" alt="">
      </div>
    </div><!--/row-->
  </div><!--/container-->
</div><!--/.G-->

<div id="sep">
  <div class="container">
    <div class="row centered">
      <div class="col-md-8 col-md-offset-2">
        <h1>I live in the amazing San Francisco</h1>
        <h3 class="mb">Lorem Ipsum is simply dummy text<br/>of the printing and typesetting industry.</h3>
        <button class="btn btn-conf btn-clear">Request for Information</button>
      </div>
    </div><!--/row-->
  </div><!--/container-->
</div><!--/.sep-->

<div id="f">
  <div class="container">
    <div class="row centered">
      <div class="col-md-8 col-md-offset-2">
        <a href="#"><i class="ion-social-twitter"></i></a>
        <a href="#"><i class="ion-social-dribbble"></i></a>
        <a href="#"><i class="ion-social-instagram"></i></a>
        <a href="#"><i class="ion-social-facebook"></i></a>
      </div><!--/col-md-8-->
    </div>
  </div><!--/container-->
</div><!--/.F-->

