<!--Challenges-->
<div id="eighteen">
  <div id="challenges">
    <div class="challenges-background">
      <div class="header-body">
        <div class="container centered">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <p>
              <h1><b>challenges</b></h1>
              </p>
            </div>
          </div><!--/row-->
        </div><!--/container-->
      </div>
    </div>
  </div>
</div>


  <div class="challenges-background" id="jttw-navy-background">
    <div class="header-body">
      <div class="container centered">
        <div class="row">
          <!--<div class="col-md-8 col-md-offset-2">-->
           <%= image_tag('eighteen/challenge-one') %>
          <!--</div>-->
        </div>
      </div>
    </div>
  </div>

  <div class="challenges-background" id="burgendy-background">
    <div class="header-body">
      <div class="container centered">
        <div class="row">
          <%= image_tag('eighteen/challenge-two') %>
        </div>
      </div>
    </div>
  </div>

  <div class="challenges-background" id="cornflower-blue-background">
    <div class="header-body">
      <div class="container centered">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <p>
            <h1><b>challenge 3</b></h1>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

