<div id="sep">
  <div class="container">
    <div class="row centered">
      <div class="col-md-8 col-md-offset-2">
        <h3 class="mt">That's all folks!</h3>
        <h1>Thank You!</h1>
        <span class="mt"><a href="mailto:jnettles@thoughtworks.com" target="_blank">jnettles@thoughtworks.com</a></span>
      </div>
    </div><!--/row-->
  </div><!--/container-->
</div><!--/.sep-->
<div id="f">
  <div class="container">
    <div class="row centered">
      <div class="col-xs-4">
        <a href="http://www.instagram.com/TR3jenai" target="_blank">
          <i class="fa fa-instagram animated white-text"></i>
        </a>
      </div>

      <div class="col-xs-4">
        <a href="http://www.facebook.com/joye.nettles" target="_blank">
          <i class="fa fa-facebook animated white-text"></i>
        </a>
      </div>


      <div class="col-xs-4">
        <a href="http://www.twitter.com/TR3jenai" target="_blank">
          <i class="fa fa-twitter animated white-text"></i>
        </a>
      </div>
    </div>
  </div><!--/container-->
</div><!--/.F-->