<div id="eighteen">
  <div id="growth">
    <div class="full-screen-background-image">
      <div class="header-body">
        <div class="container centered">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <p>
              <h1><b>Let's talk about growth</b></h1>
              </p>
              <!--<a href="#growth" class="btn btn-circle page-scroll">-->
              <!--<i class="fa fa-angle-double-down animated white-text"></i>-->
              <!--</a>-->
            </div>
          </div><!--/row-->
        </div><!--/container-->
      </div>
    </div>
<div class="container plr ptb centered">
  <div class="col-sm-4">
    <h2><strong>As a Consultant.</strong></h2>
    <p>As a consultant, participating in an assessment and inception has given me more experience working with
      client
      stakeholders and solutioning in a complex domain.</p>
  </div>
  <div class="col-sm-4">
    <h2><strong>As a Developer.</strong></h2>
    <p>As a developer, I have received insight on the best ways to design and implement an architecture with several
      integrated components and how to look at software from a product perspective.</p>
  </div>
  <div class="col-sm-4">
    <h2><strong>As a Person.</strong></h2>
    <p>As a person, I have learned that it is important to have a strong mindset to push through difficult times and
      sharing my story is truly a way to inspire.</p>
  </div>
</div>
  </div>
</div>