<div id="self-assessment">
  <div class="container ptb centered">
    <div class="row">
      <h1>Self-Assessment</h1>
       <div class="container-fluid white-text ">
          <div class="row parent">
            <div class="col-md-4 ptb table-cell" id="magenta-background">
              <h2 class="centered">As a consultant</h2>
              <p>Able to work effectively with client developers, business analysts, quality
                analysts, managers and product owners to effectively deliver value.</p>
            </div>
            <div class="col-md-4 ptb table-cell" id="indigo-background">
              <h2 class="centered">As a developer</h2>
              <ul>
                <li>Stronger on addressing issues with legacy code</li>
                <li>Experience with creating clean test suite and local testing environment using Tomcat, Docker, and
                  Vagrant
                </li>
                <li>More comfort with DevOps type tasks (Jenkins pipeline, Tomcat, Docker, and Vagrant)</li>
                <li>Better understanding of back end systems</li>
              </ul>
            </div>
            <div class="col-md-4 ptb table-cell" id="pink-background">
              <h2 class="centered">As a person</h2>
              <p>Practice makes perfect is more than a cliche'. Sharing my passion is <i>super</i> rewarding!</p>
            </div>
          </div>
        </div>
      </div>

  </div><!--/row-->



  <div class="divider" id="azure-background">
    <div class="header-body">
      <div class="container centered">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <p>
            <h1><b>#goals</b></h1>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="container centered">
      <h2 class="left-aligned mtb">RECAP</h2>
      <table class="table">
        <thead>
        <tr>
          <th>Pillar</th>
          <th>Goal</th>
          <th>Status</th>
        </tr>
        </thead>
        <tbody class="left-aligned">
        <tr>
          <th scope="row">1</th>
          <td>Volunteer & Participate in at least 3 TW ATL Events</td>
          <td>Open House, WIT Forum, IDG Hackathon</td>
        </tr>
        <tr class="colored-row">
          <th scope="row">1</th>
          <td>Refer Two Quality Candidates</td>
          <td>Two ACs and a Tech Lead!</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Lunch & Learn and Blogpost</td>
          <td>L&L scheduled for the 13th!</td>
        </tr>
        <tr class="colored-row">
          <th scope="row">2</th>
          <td>Attend Two Continuous Learning Sessions</td>
          <td>Attended one session (Design Patterns).</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Build 2 websites for budding entrepreneurs</td>
          <td><%= link_to 'Do Work Media', 'http://www.doworkmedia.com', :target => :blank%> and <%= link_to 'DJ SCrib', 'http://www.SCribthedj.com', :target => :blank%></td>
        </tr>
        <tr class="colored-row">
          <th scope="row">3</th>
          <td>Present 2 talks at conferences.</td>
          <td>Gave 4 presentations!</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>


  <div class="row">
    <div class="container centered">
      <h2 class="left-aligned mtb">NEXT</h2>
      <table class="table">
        <thead>
        <tr>
          <th>Pillar</th>
          <th>Goal</th>
          <th>Status</th>
        </tr>
        </thead>
        <tbody class="left-aligned">
        <tr>
          <th scope="row">1</th>
          <td>Refer at least three potential ACs</td>
          <td>Referred 2 of 3!</td>
        </tr>
        <tr class="colored-row">
          <th scope="row">1</th>
          <td>Participate in 3 TW ATL events</td>
          <td>3 of 3 events!</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Read <i>Clean Code</i></td>
          <td>Started, but not complete.</td>
        </tr>
        <tr class="colored-row">
          <th scope="row">2</th>
          <td>Develop 2 Rails websites.</td>
          <td>2 down, 1 in progress!</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Read <i>The New Jim Crow</i></td>
          <td>Started, but not complete.</td>
        </tr>
        <tr class="colored-row">
          <th scope="row">3</th>
          <td>Present 2 talks at conferences.</td>
          <td>Gave 4 presentations!</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div><!--/.container-->
</div>