<!--WINS-->
<div id="eighteen">
  <div id="wins">
    <div class="wins-background">
      <div class="header-body">
        <div class="container centered">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <p>
              <h1><b>wins</b></h1>
              </p>
            </div>
          </div><!--/row-->
        </div><!--/container-->
      </div>
    </div>
  </div>
</div>

<!--WIN ONE-->
<div id="eighteen">
  <div class="win-1">
    <div class="row ptb plr centered">
      <h2>Win One</h2>
      <h1>INCREASED EXPOSURE TO DIFFERENT TECHNOLOGIES</h1>
    </div>
  </div>
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <h2 class="section-heading">The Final Frontier</h2>

          <p>There can be no thought of finishing for ‘aiming for the stars.’ Both figuratively and literally, it is a
            task to occupy the generations. And no matter how much progress one makes, there is always the thrill of
            just beginning.</p>

          <p>There can be no thought of finishing for ‘aiming for the stars.’ Both figuratively and literally, it is a
            task to occupy the generations. And no matter how much progress one makes, there is always the thrill of
            just beginning.</p>

          <blockquote>The dreams of yesterday are the hopes of today and the reality of tomorrow. Science has not yet
            mastered prophecy. We predict too much for the next year and yet far too little for the next ten.
          </blockquote>

          <p>Spaceflights cannot be stopped. This is not the work of any one man or even a group of men. It is a
            historical process which mankind is carrying out in accordance with the natural laws of human
            development.</p>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/iPMjSXbIaEQ" frameborder="0" allowfullscreen></iframe>
        </div>
        <p class="centered">Speaking at the #ILookLikeADeveloper event hosted by General Assembly in September.</p>
      </div>
    </div>
  </article>
</div>

<!--WIN TWO-->
<div id="eighteen">
  <div class="win-2">
    <div class="row ptb plr centered">
      <h2>Win Two</h2>
      <h1>THE BIG PICTURE: BETTER UNDERSTANDING OF ENTERPRISE INTEGRATION & ARCHITECTURE</h1>
    </div>
  </div>
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <h2 class="section-heading">The Final Frontier</h2>

          <p>There can be no thought of finishing for ‘aiming for the stars.’ Both figuratively and literally, it is a
            task to occupy the generations. And no matter how much progress one makes, there is always the thrill of
            just beginning.</p>

          <p>There can be no thought of finishing for ‘aiming for the stars.’ Both figuratively and literally, it is a
            task to occupy the generations. And no matter how much progress one makes, there is always the thrill of
            just beginning.</p>

          <blockquote>The dreams of yesterday are the hopes of today and the reality of tomorrow. Science has not yet
            mastered prophecy. We predict too much for the next year and yet far too little for the next ten.
          </blockquote>

          <p>Spaceflights cannot be stopped. This is not the work of any one man or even a group of men. It is a
            historical process which mankind is carrying out in accordance with the natural laws of human
            development.</p>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/IR_c5HyL9pE" frameborder="0" allowfullscreen></iframe>
        </div>
        <p class="centered">Interviewing our wonderful CTO, Rebecca Parsons, at the Grace Hopper 2016 Celebration of Women in Computing.</p>
      </div>
    </div>
  </article>
</div>