#chocolate-background{
  background: chocolate;
}

#gold-background {
  background: gold;
}

#dark-grey-background{
  background: darkgray;
}
#red-background{
  background: #D22F1E;
}

#jttw-navy-background{
  background: #2C3E50;
}
#jttw-grey-background {
  background: darkgray;
}

#indigo-background {
  background: indigo;
}
#magenta-background{
  background: darkmagenta;
}
#pink-background{
  background: hotpink;
}
#cornflower-blue-background{
  background: cornflowerblue;
}
#azure-background{
  background: #00b3fe;
}
#burgendy-background{
  background: #5b0f00;
}