.full-height-section{
  height: 100vh;
}

#eighteen.full-screen-background-image {
  background-color: mediumpurple;
  background: url('eighteen/jttw-hat.png') no-repeat center top;
  color: white;
  background-attachment: relative;
  background-position: center center;
  height: 100vh;
  width: 100%;
  display: table;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.centered-with-padding {
  background-color: mediumpurple;
  background: url('eighteen/jttw-hat.png') no-repeat center top;
  color: white;
  background-attachment: relative;
  background-position: center center;
  height: 100vh;
  width: 100%;
  display: table;
}

.wins-background {
  background-color: mediumpurple;
  background: url('eighteen/family.png') no-repeat center top;
  color: white;
  background-attachment: relative;
  background-position: center center;
  height: 100vh;
  width: 100%;
  display: table;

  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


#eighteen .win-1{
  background: url(eighteen/team.png) center center scroll;
  padding: 100px 0;
  color: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#eighteen .win-2{
  background: url(eighteen/whiteboard.png) no-repeat center center scroll;
  width: 100%;
  padding: 50px 0;
  color: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#eighteen .win-3{
  background: url(eighteen/radio-team.png) no-repeat center center scroll;
  width: 100%;
  padding: 100px 0;
  color: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.challenges-background {
  background-color: mediumpurple;
  background: url('eighteen/kitchen.png') no-repeat center top;
  color: white;
  background-attachment: relative;
  background-position: center center;
  height: 100vh;
  width: 100%;
  display: table;

  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.divider {
  background-position: center center;
  height: 40vh;
  width: 100%;
  display: table;
}

#eighteen #stacey .full-screen-background-image{
  background: plum;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}


#eighteen #growth {
  .full-screen-background-image{
  background: url(eighteen/baby.png) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
    height: 50vh;
}
  p{
  color: black;
  text-align: center;
}
}

#eighteen {
  #sep {
    background: url(eighteen/beach.png) repeat scroll;
  }
}