@media(min-width:768px) {
  #eighteen.full-screen-background-image {
    background-color: #00b3fe;
    background: url('chicago-purple.png') no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

