/**
TEXT
**/
.light {
  font-weight: 400;
}

.white-text{
  color: white;
}

h1{ font-size: 6.5em}
h2{ font-size: 3em}
h3{ font-size: 1.25em}

/**
JUMBOTRON
**/
.btn{
  font-size: 4vh;
}

/**
AGENDA
**/
#agenda{
  height:100vh;
  padding: 10vh;
}

#agenda .row{
  margin-left: -60px;
}

#agenda dt{
  font-size: 1.1em;
}

#agenda dd{
  font-size: 2.5vmin;
  font-weight: 100;
}

/**
TIMELINE
**/
#timeline{
  background: ghostwhite;
  padding: 5vh;
}

#timeline h2{
  font-weight: 500;
}

/**
WINS
**/
#wins{
  text-transform: lowercase;
  background: #22A7F0;
  color:white;
}

@media(min-width:768px) {
  #wins{
    background: mediumpurple;
  }
}

#gold-background {
  background: gold;
}

#dark-grey-background{
  background: darkgray;
  font-weight: 800;
  color: ghostwhite;
  text-align: center;
}

#win-1{
  width: 100%;
  padding: 50px 0;
  color: #fff;
  background: url(agility-meeting.png) no-repeat center center scroll;
  background-color: gold;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-transform: lowercase;
}

#win-1 h1{
  padding-left: 2vh;
}

#win-1 h2{
  padding-left: 2vh;

}