.body-padding
{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.navbar{
  overflow: auto;
}

.center-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/**
TEXT
**/
.light {
  font-weight: 400;
}

.white-text{
  color: white;
}

h1{ font-size: 6.5em;}
h2{ font-size: 3em;}
h3{ font-size: 1.25em;}
h4{ font-size: .75em;}

.left-aligned{
  text-align: left;
}

#chocolate-background{
  background: chocolate;
}

#gold-background {
  background: gold;
}

#dark-grey-background{
  background: darkgray;
}
#red-background{
  background: #D22F1E;
}

#jttw-navy-background{
  background: #2C3E50;
}
#jttw-grey-background {
  background: darkgray;
}

#indigo-background {
  background: indigo;
}
#magenta-background{
  background: darkmagenta;
}
#pink-background{
  background: hotpink;
}
#cornflower-blue-background{
 background: cornflowerblue;
}
#azure-background{
  background: azure;
}
.block-text {
  font-weight: 800;
  color: ghostwhite;
  text-align: center;
  font-size: 0.55em;
}

/**
JUMBOTRON
**/
.btn{
  font-size: 4vh;
}

/**
AGENDA
**/
#agenda{
  padding: 10vh;
}

#agenda .row{
  margin-left: -60px;
}

#agenda dt{
  font-size: 1.1em;
}

#agenda dd{
  font-size: 2.5vmin;
  font-weight: 100;
}

/**
TIMELINE
**/
#timeline{
  background: ghostwhite;
  padding: 5vh;
}

#timeline h2{
  font-weight: 300;
}

.cd-timeline-content h2{
  font-size: 2em;
  font-family: 'Poiret One', cursive;
}

.cd-timeline-content p{
  font-size: 1.5em;
}

.cd-timeline-content  .cd-date {
  font-family: 'Poiret One', cursive;
  font-weight: 900;
  font-size: 1.25em;
}

@media only screen and (min-width: 1170px) {
  .cd-timeline-content  .cd-date{
    font-size: 3rem;
  }
}

/**
WINS
**/
#wins{
  text-transform: lowercase;
  color:white;
  background: url(clouds.png) no-repeat center;
  background-size: cover
}

.quote-text{
  font-size: 2em;
  padding-left: 3vh;
  padding-right: 3vh;
  line-height: 1.25;
}

.quote-footer{
  font-size: 1em;
}

#wins h2, h1{
  text-transform: lowercase;
  padding-left: 2vh;
  padding-right: 2vh;
}
.gif{
  width: 100%;
}

#win-1{
  background: url(agility-meeting-yellow.png) no-repeat center center scroll;
  width: 100%;
  padding: 50px 0;
  color: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#win-2{
  color: white;
  background: url(presentation.png) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.total-conference-text{
  font-weight: 900;
}

#win-3{
  color: white;
  background: url(jttw-globe.png) repeat center;
}

.conference-pic{
  height: 288px;
}

.jttw-image{
  width:80%
}

#local-testing-background{
  background: url(local-testing.gif) no-repeat center;
}

#cyd-tone-background{
  padding: 14vh 0;
  color: #fff;
  background: url(cyd-tone.png) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 35vh;
}

#cw-background{
  padding: 14vh 0;
  color: #fff;
  background: url(caribbean-world.png) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 35vh;
}

@media(max-width:767px) {
  #cw-background {
    margin-top:3vh;
  }

}

/**
CHALLENGES
**/
#challenges{
  background: url(airport.png) repeat center;
  color:white;
}

//GROWTH

#growth-intro .full-screen-background-image{
  background: url(baby-joye.png) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#growth li{
  margin-left: 5vh;
  margin-right: 2vh;
  font-family: "Lora";
  }

#growth p{
  color: white;
  text-align: center;
}

#stacey .full-screen-background-image{
  background: plum;
  background: url(stacey.png) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#feedback .full-screen-background-image{
  background: firebrick;
}

thead{
  background-color: #4CAF50;
  color: white;
}

.colored-row{
  background-color: whitesmoke;
}

#sep{
  background: url(end-blue.png) no-repeat scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

@media(min-width:768px) {
  #sep {
    background: url(end.png) repeat scroll;
  }
}

@media(min-width:768px) {
  .parent {
    display: table;
  }

  .table-cell {
    float: none;
    display: table-cell;
  }
}